* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.nav-container,
.banner-inner-content{
    width: 80%;
    margin: 0 auto;
}

